.medical-solutions {
  display: flex;
  flex-direction: column;
  padding: 8rem 6rem;
  margin: auto;

  .text-content {
    color: #004d40;
    margin-bottom: 2rem;
    padding-right: 10rem;

    p {
      color: #00E499;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.32px;
      text-transform: uppercase;

      // Center-align text only on screens 1024px and below
      @media (max-width: 1024px) {
        text-align: center;
      }
    }

    h2 {
      color: #00593D;
      font-family: "PT Sans", sans-serif;
      font-size: 62px;
      font-weight: 700;
      line-height: 80px;
      letter-spacing: -1.24px;
      margin-bottom: 6px;

      @media (max-width: 1024px) {
        font-size: 48px;
      }

      @media (max-width: 768px) {
        font-size: 36px;
        line-height: 1.5;
      }
    }

    ul {
      font-size: 1rem;
      line-height: 1.6;
      padding-left: 1rem;

      li {
        color: #000;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.36px;
      }

      @media (min-width: 768px) {
        font-size: 1.125rem;
      }
    }
  }

  .image-container {
    position: relative;
    width: 100%;

    @media (min-width: 1024px) {
      width: 50%;
    }

    img {
      width: 100%;
      border-radius: 0.5rem;
      filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
    }

    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #00BB7E;
      border-radius: 50%;
      padding: 0.3rem;
      width: 9rem;
      height: 9rem;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

      svg {
        width: 6rem;
        height: 6rem;
      }

      &:hover {
        background-color: rgba(0, 128, 96, 0.9);
        transition: background-color 0.3s ease;
      }
    }
  }

  @media (min-width: 768px) {
    .play-button button {
      padding: 1rem !important;
    }
  }


  @media screen and (max-width: 1024px) {
    .text-content {
      width: 100%;
    }
    .play-button button {
      padding: 1rem !important;
    }
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: start;
  }

  @media screen and (max-width: 1440px) {
    padding: 8rem 1rem;
    .text-content {
      padding-right: 0;
    }
  }
}
@media screen and (max-width: 767px) {
  .medical-solutions {
    padding: 8rem 1rem !important;
  }
  .medical-solutions .text-content h2 {
    font-size: 35px;
  }
}
