header {
    background: #00E499;

    .top-bar {
        //max-width: 1440px;
        margin: auto;
    }

    .phone a span {
        color: #F2FFFA;
        font-size: 28px;
        font-weight: 500;
        letter-spacing: -0.56px;
        padding-left: 9px;

        @media screen and (max-width: 768px) {
            font-size: 22px;
        }
    }

    .navigation {
        .flex {
            max-width: 1440px;
            margin: auto;
        }

        .bmi-btn {
            color: #F2FFF4;
            font-size: 28px;
            line-height: 32px;
            letter-spacing: -0.56px;
            padding: 10px 20px;
            border-radius: 12px;
            background: #01D48F;
        }
    }

    nav {
        button {
            color: #000;
            font-size: 28px;
            line-height: 32px;
            letter-spacing: -0.56px;
        }

        a {
            color: #000;
            font-size: 24px;
        }
    }
}



@media screen and (max-width: 1199px) {
    header nav button {
        font-size: 20px;
    }
    header .navigation .bmi-btn {
        font-size: 20px;
    }
    header nav a {
        color: #000;
        font-size: 20px;
    }
}
@media screen and (max-width: 992px) {
    header nav button {
        font-size: 18px;
    }
    header .navigation .bmi-btn {
        font-size: 18px;
    }
    header nav a {
        font-size: 18px;
    }
    .px-6 {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    button {
        padding: 8px;
    }
}
@media screen and (max-width: 768px) {
    header nav button {
        font-size: 16px;
    }

    header .navigation .bmi-btn {
        font-size: 16px;
        padding: 10px;
    }

    .px-6 {
        padding-left: .5rem!important;
        padding-right: .5rem!important;
    }
    .ml-3 {
        margin-left: 0.25rem;
    }
    button {
        padding: 4px !important;
    }
    header nav a {
        color: #000;
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    header .navigation .bmi-btn {
        font-size: 16px;
    }
    header .phone a span {
        font-size: 17px;
    }
}
