
.appointment-section {
  margin: auto;
  padding: 3rem 1rem;
}

.appointment-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 12px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.image-container {
  width: 60%;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.appointment-form {
  margin-left: -10rem;
  width: 40%;
  border-radius: 20px;
  background-color: #00E499;
  padding: 2rem;
  color: white;
  text-align: center;

  h2 {
    color: rgba(242, 255, 244, 0.96);
    font-family: "PT Sans";
    font-size: 62px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.24px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  text-align: left;
  color: #00593D;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0.25rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #000;
  background: #EAFFF8;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s;
  color: #000;
  height: 3rem;

  &:focus {
    border-color: #00A082;
  }
}

textarea.form-input {
  height: auto;
  resize: vertical;
}

.submit-btn {
  border-radius: 50px;
  background: #00593D;
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-family: "PT Sans";
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #065946;
  }
}

@media screen and (max-width: 1640px) {
  .appointment-form h2 {
    font-size: 55px;
  }
  .appointment-section {
    padding: 3rem 4rem;
  }
}

@media screen and (max-width: 1440px) {
  .appointment-section {
    padding: 3rem 1rem;
  }

  .appointment-form h2 {
    font-size: 45px;
    line-height: 60px;
  }

  .form-label {
    font-size: 16px;
  }

  .image-container {
    width: 65%;
  }

  .appointment-form {
    width: 35%;
    padding: 1rem;
  }

  .submit-btn {
    padding: 5px 20px;
    gap: 8px;
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1280px) {
  .appointment-form h2 {
    font-size: 34px;
  }
}

@media (max-width: 1199px) {
  .appointment-wrapper {
    flex-direction: column;
  }

  .appointment-section {
    padding: 2rem 4rem;
  }

  .image-container {
    width: 100% !important;
  }

  .appointment-form {
    width: 100% !important;
    margin-left: 0;
  }

  .appointment-form h2 {
    font-size: 1.75rem;
  }

  .form-label {
    font-size: 0.9rem;
  }

  .form-input {
    height: 50px;
  }

  .submit-btn {
    font-size: 1.125rem;
    padding: 0.75rem 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  .appointment-section {
    padding: 1.5rem;
  }

  .appointment-form {
    padding: 1.5rem;
    h2 {
      font-size: 28px;
      line-height: 1.3;
    }
  }

  .form-input {
    height: auto;
    padding: 0.5rem;
  }

  .submit-btn {
    font-size: 24px;
    padding: 8px 20px;
  }
}
